.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  gap: var(--g-spacing-4);
  
  width: 100%;
  margin-inline: auto;
  
  padding: 24px;
  
  flex-direction: column;
  
  background-color: var(--g-color-base-generic);
  border-top: 1px solid var(--g-color-line-generic);
}

@media (min-width: 680px) {
  .footer {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding-inline: var(--g-spacing-14);
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.copyright {
  font-size: var(--g-text-body-3-font-size);
  color: var(--g-color-text-complementary);
}

.links {
  display: flex;
  gap: var(--g-spacing-4);
}

.link {
  display: flex;
  align-items: center;
  color: var(--g-color-text-complementary);
  text-decoration: none;
  font-size: var(--g-text-body-3-font-size);
  gap: 0.5rem;
}

.link:hover {
  color: var(--g-color-text-primary);
} 