.root {
  background-color: var(--g-color-base-main-menu-background);
  height: 72px;
  min-height: 72px;
  overflow-y: hidden;
  display: flex;
  border-bottom: 1px solid var(--g-color-line-generic);
}

.header {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 14px;
  padding-inline: var(--g-spacing-4);
  width: 100%;
}

@media (min-width: 680px) {
  .header {
    padding-inline: var(--g-spacing-6);
  }
}

@media (min-width: 1024px) {
  .header {
    padding-inline: var(--g-spacing-14);
  }
}

.left {
  display: inline-flex;
  align-items: center;
  gap: var(--g-spacing-2);
}

.poweredText {
  font-weight: 200;
  font-size: var(--g-text-header-1-font-size);
  line-height: var(--g-text-header-1-line-height);
  color: var(--g-color-text-light-complementary);
  text-transform: uppercase;
  flex-wrap: nowrap;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.logo {
  min-width: 102px;
  display: block;
  position: relative;
  top: 0;
  margin-top: 0;
  align-self: center;
}

.right {
  display: flex;
  align-items: center;
  gap: var(--g-spacing-6);
}

.navigationList {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: var(--g-spacing-4);
}

@media (min-width: 500px) {
  .navigationList {
    gap: var(--g-spacing-6);
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 300;
  font-size: var(--g-text-body-3-font-size);
  line-height: var(--g-text-body-3-line-height);
  color: var(--g-color-text-light-complementary);
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
}

.link:hover {
  color: var(--g-color-text-light-primary);
} 